<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.areo.zhihui.mapper.CourseOfferingMapper">

    <update id="reduceCurrentCapacity">
        update course_offering
        set current_capacity = current_capacity - 1
        where id = #{courseOfferingId}
    </update>

    <update id="increaseCurrentCapacity">
        update course_offering
        set current_capacity = current_capacity + 1
        where  id = #{courseOfferingId}
    </update>

    <update id="batchUpdateCapacity">
        <foreach collection="changes" item="item" separator=";">
            update course_offering
            set current_capacity = current_capacity - #{item.value}
            where id = #{item.key}
        </foreach>
    </update>
</mapper>