<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.areo.zhihui.mapper.EnrollmentMapper">
    <select id="checkIfStudentHasSelectedCourse" resultType="java.lang.Boolean">
        select exists(
            select 1
            from enrollment e
            where e.student_identifier = #{studentIdentifier} and e.course_offering_id = #{courseOfferingId}
        )
    </select>
</mapper>