<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.areo.zhihui.mapper.TeachingClassMapper">
    <update id="reduceCurrentCapacity">
        update teaching_class
        set current_capacity = current_capacity - 1
        where teaching_class_code = #{teachingClassCode};
    </update>
    <update id="increaseCurrentCapacity">
        update teaching_class
        set current_capacity = current_capacity + 1
        where teaching_class_code = #{teachingClassCode};
    </update>
</mapper>